.board-frame {
    --color--board-frame-background: #222;
    --color--board-frame-border: #444;
    --color--board-frame-shadow: #000;
    --color--board-frame-text: var(--color--gray-light);
    --board-gutter-width: 3rem;
    --board-min-size: 300px;
    width: var(--main-content-height);
    height: var(--main-content-height);
    min-width: var(--board-min-size);
    min-height: var(--board-min-size);
    border: 1px solid var(--color--board-frame-border);
    border-radius: 1rem;
    background-color: var(--color--board-frame-background);
    padding: var(--board-gutter-width);
}
.board {
    position: relative;
    height: 100%;
}
.board-gutter {
    position: absolute;
    display: grid;
    user-select: none;
}
.board-gutter:nth-child(1) {
    inset: calc(-1 * var(--board-gutter-width)) 0 auto 0;
    height: var(--board-gutter-width);
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
}
.board-gutter:nth-child(2) {
    inset: 0 calc(-1 * var(--board-gutter-width)) 0 auto;
    width: var(--board-gutter-width);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
}
.board-gutter:nth-child(3) {
    inset: auto 0 calc(-1 * var(--board-gutter-width)) 0;
    height: var(--board-gutter-width);
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
}
.board-gutter:nth-child(4) {
    inset: 0 auto 0 calc(-1 * var(--board-gutter-width));
    width: var(--board-gutter-width);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
}
.board-gutter-label {
    margin: auto;
    font-size: 1.6rem;
    color: var(--color--board-frame-text);
}
.board-squares {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    background-image: url("../img/board1.png");
    background-size: cover;
}
.square {
    background-repeat: no-repeat;
}