.footer-band {
    position: fixed;
    inset: auto 0 0 0;
    height: var(--footer-height);
    background-color: var(--color--footer-background);
    opacity: 0.3;
}
footer {
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1.2rem;
}
.footer-text {
    color: var(--color--footer-text);
    font-size: 2rem;
    text-shadow: 2px 2px #000;
    user-select: none;
}
@media (max-width: 900px) {
    :root {
        --footer-height: 0;
    }
    .footer-band,
    footer {
        display: none;
    }
}
