*,
*::before,
*::after {
	box-sizing: border-box;
}

.hidden {
	visibility: hidden !important;
}
.none {
	display: none !important;
}
.transparent {
	opacity: 0;
}

.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

@keyframes fade-in-animation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
