.header-band {
    position: absolute;
    inset: 0 0 auto 0;
    height: var(--header-height);
    background-color: var(--color--header-background);
    opacity: 0.3;
}
header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.page-title {
    color: var(--color--page-title);
    font-size: 3rem;
    text-shadow: 2px 2px #000;
    user-select: none;
}
@media (max-width: 900px) {
    :root {
        --header-height: 3rem;
    }
    .page-title {
        font-size: 1.6rem;
    }
}
