:root {
    --color--info-panel-background: #222;
    --color--info-panel-border: #444;
    --info-panel-width: 40rem;
}
.info-panel {
    width: var(--info-panel-width);
    height: 100%;
    overflow: auto;
    background-color: var(--color--info-panel-background);
    border: 1px solid var(--color--info-panel-border);
    border-radius: 1rem;
    padding: 2rem;
    opacity: 0.9;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    grid-row-gap: 0.5rem;
}
.info-player-color {
    width: 2rem;
    height: 2rem;
    border: 1px solid #666;
}
.info-player-name {
    margin: auto 0 auto 0.5rem;
    user-select: none;
}
.info-log {
    grid-column: 1 / span 2;
    margin-top: 1rem;
    overflow: auto;
    color: var(--color--2);
}
.info-log-msg {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.info-log-msg.msg-regular {

}
.info-log-msg.msg-game-phase {
    color: var(--color--1);
}
.info-log-msg.msg-fen-text {
    color: var(--color--2);
}