:root {
    --color--info-panel-background: #222;
    --color--info-panel-border: #444;
    --info-panel-width: 20vw;
    --info-panel-min-width: 300px;
}
.info-panel {
    width: var(--info-panel-width);
    min-width: var(--info-panel-min-width);
    height: 100%;
    overflow: auto;
    background-color: var(--color--info-panel-background);
    border: 1px solid var(--color--info-panel-border);
    border-radius: 1rem;
    padding: 2rem;
    opacity: 0.9;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-row-gap: 0.5rem;
}
.info-player-color {
    width: 2.1rem;
    height: 2.1rem;
    border: 1px solid #666;
}
.info-player-name {
    margin: auto 0 auto 0.5rem;
    user-select: none;
    color: #ccc;
}
.info-player-name.player-human:before {
    content: "👨";
}
.info-player-name.player-machine:before {
    content: "🤖";
}
.info-fen {
    grid-column: 1 / span 2;
    margin-top: 0.5rem;
    border-top: 1px solid #999;
    padding-top: 0.5rem;
    word-break: break-all;
    font-size: 1.4rem;
    color: #ccc;
}
.info-log-wrapper {
    grid-column: 1 / span 2;
    overflow: hidden;
    position: relative;
    border-top: 1px solid #999;
}
.info-log {
    position: absolute;
    inset: 0;
    overflow: auto;
    padding-top: 0.5rem;
}
.info-log::-webkit-scrollbar {
    width: 12px;
}
.info-log::-webkit-scrollbar-track {
    background-color: var(--color--info-panel-background);
}
.info-log::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #666;
    border: 2px solid var(--color--info-panel-background);
}
.info-log::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}
.info-log-msg {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0.5rem;
    font-size: 1.6rem;
}
.info-log-msg.msg-regular {
    color: var(--color--text);
}
.info-log-msg.msg-game-phase {
    color: var(--color--2);
}
