@import "./typography.css";
@import "./general.css";
@import "./header.css";
@import "./welcome.css";
@import "./board.css";
@import "./square.css";
@import "./pieces.css";
@import "./info.css";
@import "./promotion.css";
@import "./footer.css";

:root {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    --color--text: #999;
    --color--orange: #d90;
    --color--green--light: #bc3;
    --color--green--medium: #783;
    --color--red--light: #f66;
    --color--red--medium: #f33;
    --color--red--dark: #900;
    --color--background: #111;
    --font-family--defalt: Play, 'Helvetica Neue', Arial, sans-serif;
    --font-family--script: 'Aguafina Script', serif;
    --font-family--code: 'Share Tech Mono', Consolas, 'Courier New', monospace;
    --main-content-height: 80vh;
}
body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--color--background);
    color: var(--color--text);
    font-family: var(--font-family--defalt);
    font-size: 1.6rem;
    animation: fade-in-animation 1s;
}
.page-bg-img {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    filter: blur(0) grayscale(0.5) brightness(0.5);
    transition: filter 1s ease-in-out;
}
.page-bg-img.game-on {
    filter: blur(0) grayscale(1) brightness(0.5);
}
.wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
main {
    display: grid;
    place-items: center;
}
.main-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-column-gap: 3rem;
    height: var(--main-content-height);
    animation: fade-in-animation 1s;
}
