@import "./typography.css";
@import "./general.css";
@import "./header.css";
@import "./welcome.css";
@import "./board.css";
@import "./pieces.css";
@import "./info.css";
@import "./footer.css";

:root {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    --color--gray-darker: #333;
    --color--gray-dark: #666;
    --color--gray-light: #999;
    --color--gray-lighter: #ccc;
    --color--text: var(--color--gray-lighter);
    --color--1: #d90;
    --color--2: #bc3;
    --color--3: #3fc;
    --color--background: #111;
    --font-family--defalt: Play, 'Helvetica Neue', Arial, sans-serif;
    --font-family--script: 'Aguafina Script', serif;
    --font-family--code: 'Share Tech Mono', Consolas, 'Courier New', monospace;
}
body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--color--background);
    color: var(--color--text);
    font-family: var(--font-family--defalt);
    font-size: 1.6rem;
}
.page-bg-img {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    filter: blur(8px) grayscale(0.6) brightness(0.8);
}
.wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
main {
    display: grid;
    place-items: center;
}
.main-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-column-gap: 6rem;
}
