@keyframes thinking-animation {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
}
.player-status {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--player-status-height);
}
.player-status-color {
    width: 2.1rem;
    height: 2.1rem;
    border: 1px solid #666;
}
.player-status-name {
    margin-left: 0.2rem;
    user-select: none;
    color: #999;
}
.player-status-name.player-active {
    color: var(--color--green--light);
}
.player-status-name.player-male:before {
    content: "👨";
}
.player-status-name.player-female:before {
    content: "👩";
}
.player-status-name.player-bot:before {
    content: "🤖";
}
.player-status-name.player-active::after {
    content: "";
    animation: 3s infinite thinking-animation;
}

@media (max-width: 900px) {
    .player-status {
        left: 0.8rem;
    }
}
