.player-status {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--player-status-height);
}
.player-status-color {
    min-width: 2.1rem;
    min-height: 2.1rem;
    border: 1px solid #666;
}
.player-status-name {
    margin: 0 1rem 0.2rem 0;
    white-space: nowrap;
    user-select: none;
    color: #999;
}
.player-status-name.player-active {
    color: var(--color--green--light);
}
.player-status-name.player-male:before {
    content: "👨";
}
.player-status-name.player-female:before {
    content: "👩";
}
.player-status-name.player-bot:before {
    content: "🤖";
}
.player-status-progress {
    flex: 1 1 100%;
    height: 1px;
    background: linear-gradient(to right, var(--color--green--light) var(--player-status-progress), #444 var(--player-status-progress) 100%);
}

@media (max-width: 900px) {
    .player-status {
        left: 0.8rem;
    }
}
