.board-squares {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
    background-image: url("../img/board1.png");
    background-size: cover;
}
.square {
    background-repeat: no-repeat;
}
.square.last-move-from {
    background-color: var(--color--1);
    opacity: 0.8;
}
.square.last-move-to {
    background-color: var(--color--1);
    opacity: 0.8;
}
.square.possible-from {
    background-color: var(--color--3);
    opacity: 0.2;
    cursor: pointer;
}
.square.possible-to {
    background-color: var(--color--3);
    opacity: 0.2;
    cursor: pointer;
}
.square.selected-square {
    background-color: var(--color--3);
    opacity: 0.8;
    cursor: pointer;
}
