.square {
    background-repeat: no-repeat;
}
.square.last-move-from,
.square.last-move-to {
    background-color: var(--color--orange);
    opacity: 0.5;
}
.square.possible-from {
    background-color: var(--color--green--medium);
    opacity: 0.5;
}
.square.possible-to {
    position: relative;
    cursor: pointer;
}
.square.possible-to::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.3;
}
.square.possible-to:not(.occupied):not(.en-passant-target)::after {
    left: 40%;
    top: 40%;
    width: 20%;
    height: 20%;
}
.square.possible-to.occupied::after,
.square.possible-to.en-passant-target::after {
    inset: 0 0 0 0;
}
.square.checked-king {
    background-color: var(--color--red--dark);
    opacity: 0.8;
}
.square.selected-square {
    background-color: var(--color--green--medium);
    opacity: 0.8;
    cursor: pointer;
}
