.square {
    background-repeat: no-repeat;
}
.square.last-move-from,
.square.last-move-to {
    background-color: var(--color--orange);
    opacity: 0.5;
}
.board-squares.mark-possible-moves > .square.possible-from {
    background-color: var(--color--green--medium);
    opacity: 0.5;
}
.square.possible-to {
    cursor: pointer;
}
.board-squares.mark-possible-moves > .square.possible-to {
    position: relative;
}
.board-squares.mark-possible-moves > .square.possible-to::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}
.board-squares.mark-possible-moves > .square.possible-to:not(.occupied):not(.en-passant-target)::after {
    left: 40%;
    top: 40%;
    width: 20%;
    height: 20%;
    background-color: #000;
    opacity: 0.3;
}
.board-squares.mark-possible-moves > .square.possible-to.occupied::after,
.board-squares.mark-possible-moves > .square.possible-to.en-passant-target::after {
    inset: 0 0 0 0;
    background-color: #933;
    opacity: 0.8;
}
.square.checked-king {
    background-color: var(--color--red--dark) !important;
    opacity: 0.8 !important;
}
.square.selected-square {
    background-color: var(--color--green--medium);
    opacity: 0.8;
    cursor: pointer;
}
