.welcome-panel {
    --color--welcome-background: var(--color--gray-darker);
    --color--welcome-border-color: var(--color--gray-dark);
    --color--welcome-selection-background: var(--color--gray-dark);
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 2rem;
    background-color: var(--color--welcome-background);
    border: 1px solid var(--color--welcome-border-color);
    border-radius: 1rem;
    /*box-shadow: 0 0 2rem 2rem #000;*/
    padding: 3rem;
    opacity: 0.9;
    user-select: none;
}
.welcome-fen-label,
.welcome-color-label,
.welcome-player-name-label {
    margin: auto 0;
    font-size: 1.4rem;
    user-select: none;
}
.welcome-fen-text,
.welcome-player-name-text {
    height: 30px;
    width: 500px;
    padding: 0.5rem;
    font-family: var(--font-family--defalt);
    font-size: 1.4rem;
    border: 1px solid var(--color--gray-dark);
    background-color: #222;
    color: var(--color--1);
}
.welcome-player-color-selection {
    display: flex;
}
.welcome-player-color-selector {
    background-size: cover;
    height: 5rem;
    width: 5rem;
    border-radius: 0.4rem;
    cursor: pointer;
}
.welcome-player-color-selector:nth-child(2) {
    margin-left: 1rem;
}
.welcome-player-color-selector.selected {
    background-color: var(--color--gray-dark);
    pointer-events: none;
}
.welcome-start-button {
    grid-column: 1 / span 2;
    margin-left: auto;
    width: 10rem;
    height: 4rem;
    border-radius: 2rem;
    background-color: var(--color--gray-lighter);
    font-size: 1.6rem;
    font-family: var(--font-family--defalt);
    cursor: pointer;
    user-select: none;
}
