.welcome-panel {
    width: var(--welcome-panel-width);
    height: var(--wecome-panel-height);
    background-color: #222;
    border: 1px solid #666;
    border-radius: 1rem;
    padding: 2rem;
    font-size: 1.6rem;
    opacity: 0.9;
    user-select: none;
    position: relative;
}
.welcome-section {
    font-size: 2rem;
    color: #fff;
    margin : 2rem 0 1rem 0;
}
.welcome-section:nth-child(1) {
    margin-top : 0;
}
.welcome-data-line {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-top : 0.4rem;
}
.welcome-data-line:nth-child(1) {
    margin-top : 0;
}
.welcome-label,
.welcome-select,
.welcome-input {
    border: none;
    border-radius: 2px;
    height: 2.3rem;
    font-family: var(--font-family--defalt);
    font-size: 1.6rem;
    user-select: none;
}
.welcome-label {
    margin-left: 2rem;
}
.welcome-select,
.welcome-input {
    background-color: #ccc;
}
.welcome-input {
    padding: 0 0.4rem;
}
.welcome-action-buttons {
    position: absolute;
    inset: auto 0 3rem 0;
    grid-column: 1 / span 2;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.welcome-action-button {
    width: 8rem;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.6rem;
    font-family: var(--font-family--defalt);
    cursor: pointer;
    user-select: none;
    color: #000;
    background-color: #783;
}
.welcome-action-button:hover {
    background-color: #894;
}

@media (max-width: 900px) {
    :root {
        --welcome-panel-width: 100vw;
        --wecome-panel-height: var(--doc-height);
    }
    .welcome-panel {
        border: none;
    }
}